<a href="https://colab.research.google.com/github/geral98atehortua/Mujeres_Digitales/blob/main/Clases.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

iNTRODUCCIÓN

In [ ]:
x=80
print(x)

80

In [ ]:
a=int(3)
print(a)

3

In [15]:
b=float(3.89)
print(b)

3.89

In [18]:
val1="Gerardine"
print(val1)

Gerardine

In [19]:
val2="Hola mundo"
print(val2)

Hola mundo

In [37]:
n="Amigos"
m="mios"
print(n,m)
p="10"
q="7"
b=int(p)
c=int(q)
print(b-c)

Amigos mios
3

In [57]:
lola=False
print("el valor es verdadero:",lola,"el cual es de tipo",type(lola))

ana=False
print("el valor es falso:",ana,"el cual es de tipo",type(ana))

el valor es verdadero: False el cual es de tipo <class 'bool'>
el valor es falso: False el cual es de tipo <class 'bool'>

In [61]:
frutas="pera","manzana","sandia"
colores="rojo","negro", "amarillo"
print(frutas,colores)

('pera', 'manzana', 'sandia') ('rojo', 'negro', 'amarillo')

In [83]:
diana=["gato","azul","sandia","mesa"]
print(diana)
di=diana[2]
print(di)

['gato', 'azul', 'sandia', 'mesa']
sandia

In [86]:
tupla=45,12,45,"coral"
print(tupla)
otra=tupla,(1,3,"rojo")
print(otra)

(45, 12, 45, 'coral')
((45, 12, 45, 'coral'), (1, 3, 'rojo'))

In [88]:
datos_b={
    "nombres":"Diana",
    "apellido":"lopez",
    "cedula":"1151966311",
    "estado_civil":"soltera",
    "lugar_nacimiento":"Cali",
    "fecha_nacimiento":"08/05/1998",
}
print("Id del diccionario",datos_b.keys())
print("Id del diccionario",datos_b.values())
print("Id del diccionario",datos_b.items())

Id del diccionario dict_keys(['nombres', 'apellido', 'cedula', 'estado_civil', 'lugar_nacimiento', 'fecha_nacimiento'])
Id del diccionario dict_values(['Diana', 'lopez', '1151966311', 'soltera', 'Cali', '08/05/1998'])
Id del diccionario dict_items([('nombres', 'Diana'), ('apellido', 'lopez'), ('cedula', '1151966311'), ('estado_civil', 'soltera'), ('lugar_nacimiento', 'Cali'), ('fecha_nacimiento', '08/05/1998')])

In [118]:
carro_0={}
carro_0["tam"]="grande"
carro_0["color"]="rojo"
carro_0["marca"]="chevrolet"
carro_0["precio"]=50000000
print(carro_0)

carro_1={}
carro_1["tam"]="pequeño"
carro_1["color"]="blanco"
carro_1["marca"]="renault"
carro_1["precio"]=37000000
print(carro_1)

compra0=carro_0["precio"]
compra1=carro_1["precio"]
compra_total=compra0+compra1
print("la compra total fue de:"+str (compra_total))

{'tam': 'grande', 'color': 'rojo', 'marca': 'chevrolet', 'precio': 50000000}
{'tam': 'pequeño', 'color': 'blanco', 'marca': 'renault', 'precio': 37000000}
la compra total fue de:87000000